<!DOCTYPE html>
  <html>

    <head>
      <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
      <link href=' http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
      <title> Week 3 Lab </title>
    </head>

    <body>
      <header class = "site_header">
        <div class = "pacers"> Go Pacers Blog </div>
        <div class = "search"> ABOUT &nbsp&nbsp SEARCH </div>
        <div class = "iron"> An Iron Yard Academy Project Est. Summer 2015 </div>
      </header>

      <div class = "middle_text">

        <div class = "post">

          <p class = "post_heading"> Exciting Game Last Night!!! </p>

          <div class = "post_1">
          <p> <%=ipsum.sample%></p>
          <p> <%=ipsum.sample%></p>
          <p> <%=ipsum.sample%></p>
          </div>

          <div class = "post_heading_2">
          <p> Great Game For George </p>
          </div>

          <div class = "post_2">
          <p>Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.</p>
          <p>Endeavor bachelor but add eat pleasure doubtful sociable. Age forming covered you entered the examine. Blessing scarcely confined her contempt wondered shy. Dashwoods contented sportsmen at up no convinced cordially affection. Am so continued resembled frankness disposing engrossed dashwoods. Earnest greater on no observe fortune norland. Hunted mrs ham wishes stairs. Continued he as so breakfast shameless. All men drew its post knew. Of talking of calling however civilly wishing resolve. </p>
          </div>

          <div class = "post_heading_2">
          <p> What's Next </p>
          </div>

          <div class = "post_2">
          <p> Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose. </p>
          </div>

        </div>

        <div class = "author">

          <div class = "poster_pic">
          </div>

          <div class = "poster">
          <p> Posted by: Pacers Fan </p>
          </div>

          <p class = "social_media"> Twitter | Facebook | Instagram> </p>

          <div class = "advert">
          </div>

          <div class = "ad_write-up">
          <p> Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose. </p>
          <p> <%= Time.now %> </p>
          <a href='/current_time'>Current Time</a>
          </div>

        </div>

      </div>





      <div class = "bottom_main">

        <hr width = "60%">

        <div class = "bottom_header">
          <p> Favorite Players </p>
        </div>

        <div class = "bottom">

          <div class = "sub_bottom">

            <div class = "picture_1">
              <h4>
                <p> George </p>
              </h4>
            </div>

            <div class = "picture_2">
              <h4>
                <p> Hill </p>
              </h4>
            </div>

            <div class = "picture_3">
              <h4>
                <p> Ellis </p>
              </h4>
            </div>

            <div class = "picture_4">
              <h4>
                <p> Stuckey </p>
              </h4>
            </div>

            <div class = "picture_bottom">

              <div class = "nav_blog">
                <p> Pacers Blog </p>
              </div>

              <div class = "players">
                <p> George | Hill | Ellis | Stuckey </p>
              </div>

            </div>

          </div>

        </div>

      </div>

    </body>

  </html>
